body {font: 14px 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', 黑体, Arial, sans-serif, sans-serif;margin: 0 auto;padding: 0;color: #626262;}
tr, td, img {border-width: 0;margin: 0;padding: 0;}
.clear {clear: both;height: 1px;font-size: 0;line-height: 0;}
.displaynone {display: none;}
.displaytrue {overflow: hidden;}
a {outline: none; text-decoration:none;}
form {margin: 0;padding: 0;}
table {border-collapse: collapse;}
.clear {clear: both;}
* {padding: 0;margin: 0;}
p {margin: 5px 0px 5px 0px;}
input, textarea {font-size: 12px;}
textarea {padding: 0px;margin: 0px;}

a.toplink {font-size: 16px;color: #000;}
a:visited.toplink {font-size: 16px;color: #000;}
a:hover.toplink {color: #7d7d7d;font-size: 16px;}
a.toplink2 {font-size: 16px;color: #000;}
a:visited.toplink2 {font-size: 16px;color: #000;}
a:hover.toplink2 {color: #000;font-size: 16px;}